* {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.title {
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}