* {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.teste {
  margin: 50px;
}

.box {
  margin-left: 5%;
  margin-right: 5%;
  height: 100px;
  border: 3px solid #2f9bdf;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 8.5vh;
  background-color: #bdbdbd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main  {
  display: flex;
}

.sidebar {
  height: 93vh;
  width: 15%;
  background-color: #bdbdbd;
  padding-left: 2%;
}

.text-inicio {
  display: flex;
  justify-content: space-around;
}

.content {
  width: 85%;
}

.part-1 {
  padding: 4%;
  display: flex;
  justify-content: space-around;
  height: 30%;
}

.part-2 {
  padding: 4%;
  display: flex;
  justify-content: space-around;
  height: 40%;
}

.every {
  width: 20%;
  background-color: #2f9bdf;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 20%;
  background-color: #4deb4d;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  width: 20%;
  background-color: #ee593f;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-5-input {
  width: 45%;
  height: 225%;
  border: 3px solid black;
  background-color: #bdbdbd;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(51, 51, 51);
}

.last-5-output {
  width: 45%;
  height: 225%;
  border: 3px solid black;
  background-color: #bdbdbd;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(51, 51, 51);
}

.rotas {
  display: flex;
  padding-top: 1%;
  padding-bottom: 0.5%;
  background-color: #bdbdbd;
  justify-content: space-around;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.box-produtos {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  height: 100px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infos {
  margin-top: 10%;
}